name: Generate snake animation

on:
  schedule: # execute every hour
    - cron: "0 * * * *"

  workflow_dispatch:

  push:
    branches:
    - master

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: generate snake images
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/snake-dark.svg?palette=github-dark
            dist/snake-dark.gif?palette=github-dark&color_dots=#ff0000,#01311f,#034525,#0f6d31,#00c647
            dist/snake-light.svg?palette=github-light
            dist/snake-light.gif?palette=github-light
            dist/ocean.svg?color_snake=orange&color_dots=#bfd6f6,#8dbdff,#64a1f4,#4b91f1,#3c7dd9&color_background=#aaaaaa
            dist/ocean.gif?color_snake=orange&color_dots=#bfd6f6,#8dbdff,#64a1f4,#4b91f1,#3c7dd9&color_background=#aaaaaa
            dist/grey.svg?color_snake=111&color_dots=#eee,#aaa,#888,#666,#444
            dist/grey.gif?color_snake=111&color_dots=#eee,#aaa,#888,#666,#444
            
      - name: push snake images to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
